{% block top %}
    <!--nav标签为导航标签，定义导航链接部分，IE 8及之前版本不支持nav标签-->
    <nav class="menu">
        <!--导航栏列表-->
        <ul>
            <!--logo图标，转到Home页-->
            <li class="icon left">
                <a href="/"><img src="/static/img/LocalShiny256X256.png" alt="RShiny" title="RShiny"/></a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/doc">Documentation</a>
            </li>
            <li>
                <a href="/apps">All apps</a>
            </li>
            <li>
                <a href="/login">
                    {% if session.get('logged_in') == None %}
                        Log in
                    {% else %}
                        {{ session.get('username') + "'s apps" }}
                    {% endif %}
                </a>
            </li>
            <!--用户注销，退出登录-->
            <li>
                <a href="/logout">
                    {% if session.get('logged_in') != None %}
                        Log out
                    {% endif %}
                </a>
            </li>
        </ul>
    </nav>
{% endblock top %}

{% block content %}
{% endblock content %}

{% block bottom %}
    <footer>
        <div class="footer">
            <div class="copyright">
                © <a href="https://www.findn.cn:5000">LocalShiny 2021</a>
            </div>
        </div>
    </footer>
{% endblock bottom %}