<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>

<body>

{% extends 'base.html' %}
{% block content %}
<!--main标签，规定文档的主要内容-->
<main class="home">
    <!--文字内容-->
    <h1 id="bookdown">LocalShiny</h1>
    <h2 id="write-html-pdf-epub-and-kindle-books-with-r-markdown">Auto deploy Shiny apps locally</h2>
    <p><!-- raw HTML omitted --></p>
    <p>The <strong>LocalShiny</strong> is an <a href="https://github.com">open-source kit</a> that can help developers share their <a href="https://shiny.rstudio.com/gallery/">Shiny</a> applications online and help users install these Shiny applications locally. It includes <em>the LocalShiny Web, the LocalShiny R package (for developers), and the LocalShiny Software (for users)</em>.</p>
    <p>Features include:</p>
    <ul>
        <li><strong>Security:</strong> Install Shiny applications locally, so you don’t have to worry about privacy leaks.</li>
        <li><strong>Automatically Install:</strong> Even if you don't know anything about the program, you can easily install the Shiny app with LocalShiny Software without having to install any dependencies manually.</li>
        <li><strong>Easily Share:</strong> LocalShiny web serves as a platform for developers to share shiny applications built in R. With the LocalShiny package, developers create clones of applications and share the applications in the cloud easily.</li>
    </ul>
    <p>If you are developer, click <a href="/doc">Documentation</a> to view detailed instructions.</p>
    <p>If you are user, click <a href="/apps">All apps</a> to view LocalShiny App Store.</p>
    <p>Click <a href="/about">About</a> to view details of us.</p>
    <p></p>
    <p></p>
    <p></p>
    <h2>Download LocalShiny Software</h2>
    <div>
        <a href="/static/localshiny/LocalShiny_Software_Windows_64.txt" download="LocalShiny_Software_Windows_64.txt">
            <img src="/static/img/windows.svg" alt="LocalShiny_Software_for_Windows_x64"
                 style="width: 40px; height: 40px;" title="LocalShiny_Software_for_Windows_x64">
            LocalShiny_Software_for_Windows_x64
        </a>
        <br>
        <a href="/static/localshiny/LocalShiny_Software_macOS.txt" download="LocalShiny_Software_macOS.txt">
            <img src="/static/img/macos.png" alt="LocalShiny_Software_for_macOS"
                 style="width: 40px; height: 40px;" title="LocalShiny_Software_for_macOS">
            LocalShiny_Software_for_macOS
        </a>
        <br>
        <a href="/static/localshiny/LocalShiny_Software_Ubuntu.txt" download="LocalShiny_Software_Ubuntu.txt">
            <img src="/static/img/ubuntu.svg" alt="LocalShiny_Software_for_Ubuntu"
                 style="width: 40px; height: 40px;" title="LocalShiny_Software_for_Ubuntu">
            LocalShiny_Software_for_ubuntu
        </a>
    </div>
</main>
{% endblock content %}

</body>
</html>