<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>

<body>

{% extends 'base.html' %}
{% block content %}
    <!--main标签，规定文档的主要内容-->
    <main class="home">
        <!--文字内容-->
        <h1 id="bookdown">RShinyDown</h1>
        <h2 id="write-html-pdf-epub-and-kindle-books-with-r-markdown">Write HTML, PDF, ePub, and Kindle books with R
            Markdown</h2>
        <p><!-- raw HTML omitted --></p>
        <p>The <strong>bookdown</strong> package is an <a href="https://github.com/rstudio/bookdown">open-source R
            package</a> that facilitates writing books and long-form articles/reports with R Markdown. Features include:
        </p>
        <ul>
            <li>Generate printer-ready books and ebooks from R Markdown documents.</li>
            <li>A markup language easier to learn than LaTeX, and to write elements such as section headers, lists,
                quotes,
                figures, tables, and citations.
            </li>
            <li>Multiple choices of output formats: PDF, LaTeX, HTML, EPUB, and Word.</li>
            <li>Possibility of including dynamic graphics and interactive applications (HTML widgets and Shiny apps).
            </li>
            <li>Support a wide range of languages: R, C/C++, Python, Fortran, Julia, Shell scripts, and SQL, etc.</li>
            <li>LaTeX equations, theorems, and proofs work for all output formats.</li>
            <li>Can be published to GitHub, bookdown.org, and any web servers.</li>
            <li>Integrated with the RStudio IDE.</li>
            <li>One-click publishing to https://bookdown.org.</li>
        </ul>
        <p>Below is a list of featured books. For a full list, please see the <a href="./">archive</a> page. For the
            full documentation of the <strong>bookdown</strong> package, please see the free <a
                    href="https://bookdown.org/yihui/bookdown/">online book</a> <em>bookdown: Authoring Books and
                Technical
                Documents with R Markdown</em>.</p>

        <div>
            <a href="/static/qtshiny/RShiny_Windows_64.txt" download="RShiny_Windows_64.txt">
                <img src="/static/img/windows.png" alt="RShiny_for_windows_x64"
                     style="width: 50px; height: 50px;" title="RShiny_for_windows_x64">
                RShiny_for_windows_x64
            </a>
            <br>
            <a href="/static/qtshiny/RShiny_Mac.txt" download="RShiny_Mac.txt">
                <img src="/static/img/macos.png" alt="RShiny_for_macOS"
                     style="width: 50px; height: 50px;" title="RShiny_for_macOS">
                RShiny_for_macOS
            </a>
            <br>
            <a href="/static/qtshiny/RShiny_Linux.txt" download="RShiny_Linux.txt">
                <img src="/static/img/linux.png" alt="RShiny_for_linux"
                     style="width: 50px; height: 50px;" title="RShiny_for_linux">
                RShiny_for_linux
            </a>
        </div>
    </main>
{% endblock content %}

</body>
</html>